---
title: kaleidawave
image: null
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
        
        <title>{{ title }}</title>
        <meta name="title" content="{{title}}">
        {% if image !== null %}
            <meta property="twitter:image" content="{{image}}">
        {% endif %}

        <script>
            if (localStorage.getItem("theme") === null) {
                onSchemeChange();
            }

            function onSchemeChange(value = null) {
                localStorage.setItem(
                    "theme", 
                    value ?? window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"
                );
            }

            function updateThemeClass(value = null) {
                if (value ?? localStorage.getItem("theme") === "dark") {
                    document.documentElement.classList.add("dark");
                } else {
                    document.documentElement.classList.remove("dark");
                }
            }

            updateThemeClass();
        </script>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
        <style>
            :root {
                font-family: 'Inter', sans-serif;
                --text-color: black;
                --background: white;
                --muted-background: #f3f3f3;
                --accent: #5332ff;
                --muted-accent: #5c42e4;
                font-weight: 500;
            }

            :root.dark {
                --text-color: #e9e9e9;
                --background: #101010;
                --muted-background: #252525;
                --accent: #ffd632;
                --muted-accent: #d1a755;
                font-weight: 300;
            }

            body {
                margin: 0;
                padding: 0;
                background-color: var(--background, white);
                color: var(--text-color, black);
                display:flex; 
                flex-direction:column;
                min-height: 100vh;
            }

            header {
                background-color: var(--muted-background, white);
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-size: 16px;
                position: sticky;
                top: 0;
                right: 0;
                left: 0;
                z-index: 100;
            }

            header > div {
                width: 100% !important;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .width-box {
                max-width: min(80vw, 800px);
                width: 100%;
                margin: 0 auto;
            }

            header h1 {
                font-family: Fira Code light, consolas, sans-serif;
                font-weight: 100;
                font-size: inherit;
            }

            header h1 > a {
                color: var(--text-color) !important;
            }

            header .title {
                display: flex;
            }

            header img {
                margin-top: 2px;
                height: 30px;
                margin-left: 6px;
            }

            header nav > ul {
                padding-left: 0;
                display: flex;
                list-style: none;
            }

            header nav > ul > li {
                margin-left: 10px;
                text-transform: lowercase;
            }

            a {
                color: var(--accent, white);
                text-decoration: none;
            }

            a:visited {
                color: var(--muted-accent, white);
            }

            code, pre {
                background-color: var(--muted-background);
                padding: 3px 6px;
                border-radius: 4px;
                font-size: 80%;
                font-family: Fira Code light, consolas, sans-serif !important;
                overflow-x: scroll;
            }

            footer {
                margin-top:auto; 
                background-color: var(--muted-background, white);
                padding: 22px;
            }

            footer nav {
                grid-row: 1/3;
                grid-column: 2;
            }

            footer > div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                align-items: center;
                justify-content: space-evenly;
            }

            footer h3 {
                margin: 0;
                font-weight: inherit;
                font-size: 16px;
                font-family: Fira Code light, consolas, sans-serif;
            }

            footer ul {
                margin: 0;
            }

            @media screen and (max-width: 480px) {
                header > div {
                    flex-direction: column;
                }

                body {
                    width: 100vw;
                }
            }
        </style>
    </head>
    <body>
        <header>
            <div class="width-box">
                <div class="title">
                    <h1>
                        <a href="/">kaleidawave.github.io</a>
                    </h1>
                    <img src="/images/icon.png" alt="">
                </div>
                <nav>
                    <ul>
                        <li><a href="/posts">Posts</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <div class="width-box">
                <h3> 2021 @kaleidawave </h3>
                <nav>
                    <ul>
                        {# TODO icons ...? #}
                        <li><a href="https://github.com/kaleidawave">GitHub</a></li>
                        <li><a href="https://twitter.com/home">Twitter</a></li>
                        <li><a href="https://leetcode.com/kaleidawave/">LeetCode</a></li>
                    </ul>
                </nav>
                <form>
                    <label for="toggle-theme">Light Mode</label>
                    <input type="checkbox" name="toggle-theme" id="toggle-theme">
                </form>
                <script>
                    document.body.addEventListener("colorschemechange", (ev) => { console.log(ev); onSchemeChange(); });

                    const themeSwitch = document.querySelector("#toggle-theme");
                    themeSwitch.checked = localStorage.getItem("theme") !== "dark";

                    themeSwitch.addEventListener("change", (ev) => {
                        const darkTheme = !ev.target.checked;
                        onSchemeChange(darkTheme);
                        updateThemeClass(darkTheme);
                    })
                </script>
            </div>
        </footer>
    </body>
</html>