---
layout: main_layout.njk
image: null
text: true
---
<style>{% include "static/post.css" %}</style>

<div class="post">
    <h1 class="title">{{title}}</h1>
    {% if date %}
    <time datetime="{{date | formatDateShortDash}}">
        Published on {{date | formatDateLong | safe}}
        {% if editDate %}
        (last edited on {{editDate | formatDateLong | safe}})
        {% endif %}
    </time>
    {% endif %}
    {% if image and includeImage %}
    {% image image, "" %}
    {% endif %}
    {{ content | safe }}
</div>

<div class="discussions">
    <script src="https://giscus.app/client.js"
            data-repo="kaleidawave/discussions"
            data-repo-id="R_kgDOIy08KA"
            data-category="Comments"
            data-category-id="DIC_kwDOIy08KM4CTpn8"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
            </script>
</div>

<script defer>
    for (const video of document.querySelectorAll("video")) {
        video.addEventListener("mouseover", (ev) => {
            ev.target.play();
        })
    }
</script>
