<style>{% include "static/posts.css" %}</style>

<div class="posts list-view">
    <h3>All Posts</h3>
    <ul>
        {%- for post in collections.sortedPosts -%}
        <li>
            <div class="post-image">
                {% image post.data.image, "" %}
            </div>
            <h5>
                <a href="{{ post.url }}">
                    {{ post.data.title }}
                </a>
            </h5>
            {% if post.data.description %}
            <p>{{ post.data.description }}</p>
            {% endif %}
            {% if post.data.date %}
            <span class="date">
                {{ post.data.date | formatDateShort }}
            </span>
            {% endif %}
        </li>
        {%- endfor -%}
    </ul>
</div>