<style>
    {% include "static/posts.css" %}
</style>

<div class="posts">
    <h3>All Posts:</h3>
    <ul>
    {%- for post in collections.sortedPosts -%}
        <li>
            {% if post.data.image and post.data.includeImage %}
                <div class="post-image">
                    {% image post.data.image, "" %}
                </div>
            {% endif %}
            <a href="{{ post.url }}">
                <h5>{{ post.data.title }}</h5>
            </a>
            {% if post.data.description %}
                <p>{{post.data.description}}</p>
            {% endif %}
            {% if post.data.date %}
            <span class="date">
                {{ post.data.date | formatDateShort }}
            </span>
            {% endif %}
        </li>
    {%- endfor -%}
    </ul>
</div>
