---
layout: main_layout.njk
image: null
includeImage: true
---
<style>
    {% include "static/post.css" %}
    {% include "static/code-highlighting.css" %}
</style>

<div class="post">
    <h1>{{title}}</h1>
    {% if date %}
        <p class="date">Published on {{date | formatDateLong | safe}}</p>
    {% endif %}
    {% if image and includeImage %}
        {% image image, "" %}
    {% endif %}
    {{ content | safe }}
</div>

<script defer>
    for (const video of document.querySelectorAll("video")) {
        video.addEventListener("mouseover", (ev) => {
            ev.target.play();
        })
    }
</script>
