---
layout: main_layout.njk
image: null
includeImage: true
---
<style>
    .post {
        display: flex;
        flex-direction: column;
    }

    .post > p, .post li {
        font-size: 17px;
        line-height: 1.5em;
        margin: 10px 0;
    }

    .post > *:is(h1, h2, h3, h4, h5) {
        font-size: 120%;
        margin: 10pt 0;
    }

    .post img, .post video, .post pre {
        width: 110%;
        align-self: center;
        height: auto;
    }

    .post video, .post img {
        margin: 20px 0;
    }

    .post svg.icon {
        height: 1em;
        fill: var(--text-color);
    }

    .post pre {
        font-size: 0.9em;
        max-height: 80vh;
    }

    .post pre code {
        white-space: break-spaces !important;
        overflow-x: hidden;
    }

    .post .quote {
        font-style: italic;
    }

    .post .quote::before {
        content: "\"";
    }

    .post .quote::after {
        content: "\"";
    }

    .post *[role="caption"] {
        font-size: 14px;
        margin: 6px 0 20px;
        padding: 6px;
        text-align: center;
        font-weight: normal;
        opacity: 0.8;
    }

    .post .date {
        margin-top: 0;
        font-size: 11pt;
        font-family: monospace;
    }

    .post hr {
        width: 100%;
        margin: 30px auto;
        border: none;
        border-top: 1px solid white;
    }

    .post .center {
        text-align: center;
        font-weight: inherit;
        padding: 10px 30px;
    }

    .post li {
        margin: 10px 0;
    }

    .post .note {
        font-style: italic;
        font-size: 12pt;
        opacity: 0.8;
    }

    *:is(h1, h2, h3, h4, h5, h6, p, li) > code {
        padding: 3px 6px; 
    }

    .post mark {
        display: inline-block;
        width: 100%;
        background-color: black;
        border-left: 4px solid var(--accent);
        margin-left: -4px;
        color: white;
    }

    /* For footnotes */
    .post a[href^="#foot"] {
        font-family: monospace;
        position: relative;
        top: -5px;
        left: 2px;
    }

    .post #footnotes ~ * {
        font-size: 14px;
        opacity: 0.8;
        margin: 4px 0;
        width: 100%;
    }

    .callout {
        margin-top: 18px;
        padding: 20px;
        font-size: 15pt;
        background-color: var(--muted-background);
        border-radius: 16px;
        border: 3px solid var(--muted-accent);
    }
    
    @media screen and (max-width: 480px) {
        .center {
            text-align: center;
            font-weight: inherit;
            padding: 10px 0px;
        }

        .post > p, .post li {
            font-size: 12pt;
            line-height: 1.4em;
        }

        .post img, .post pre, .post video {
            width: 100%;
        }

        .post pre {
            font-size: 10px;
            overflow-x: scroll;
        }
    }
</style>

<div class="post">
    <h1>{{title}}</h1>
    {% if date %}
        <p class="date">Published on {{date | formatDateLong | safe}}</p>
    {% endif %}
    {% if image and includeImage %}
        {% image image, "" %}
    {% endif %}
    {{ content | safe }}
</div>

<script>
    for (const video of document.querySelectorAll("video")) {
        video.addEventListener("mouseover", (ev) => {
            ev.target.play();
        })
    }
</script>

<div class="callout">
    I am currently looking for a job or internship. If you like what is this post and are looking for a full stack developer with expertise in Rust please contact <script>document.write("lox>;<=?Jqwksv8myw".split("").map(x => String.fromCharCode(x.charCodeAt(0) - 10)).join(""))</script> or <a href="https://twitter.com/kaleidawave">reach out through Twitter</a>. Preferably in the UK
</div>