<!-- 3d set -->
<style>
    .three-dimension-set {
        margin-bottom: 40px;
        overflow: hidden;
        --infront: #e65c17;
        --behind: #ffde20;
    }

    div.set-cabinet {
        isolation: isolate;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-bottom: 50px;
    }

    input[type="range"] {
        width: 200px;
        margin: 20px 6px;
    }

    .frame>svg {
        outline: 2px solid #c33535;
        grid-row: 1;
        grid-column: 1;
        aspect-ratio: 1;
    }

    .frame {
        pointer-events: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-top: 50px;
    }

    svg>text {
        font-family: JetBrains Mono, monospace;
        font-size: 8px;
        fill: black;
        isolation: isolate;
    }

    svg.behind {
        transform: rotate3d(-0.2, 1, 0, var(--rotation));
    }

    svg.behind>circle {
        fill: var(--behind);
    }

    svg.infront {
        transform: rotate3d(-0.2, 1, 0, var(--rotation)) translate3d(0, 0, 15rem);
        mix-blend-mode: exclusion;
    }

    svg.infront>circle {
        fill: var(--infront);
    }
</style>
<div class="three-dimension-set widget">
    <form class="set-slider">
        <input type="range" min="0" max="45" name="slider" value="24">
    </form>
    <div class="set-cabinet">
        <div class="frame" style="--rotation: 24deg;">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="behind">
                <circle cx="50" cy="50" r="40"></circle>
                <text x="14" y="50">number</text>
            </svg>
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="infront">
                <circle cx="50" cy="24" r="8"></circle>
                <text x="47" y="27">4</text>
            </svg>
        </div>
        <div class="frame" style="--rotation: 24deg;">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="behind">
                <circle cx="28" cy="50" r="20"></circle>
                <text x="14" y="50">number</text>
            </svg>
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="infront">
                <circle cx="64" cy="24" r="8"></circle>
                <text x="47" y="27" font-size="4px">"hello"</text>
            </svg>
        </div>
    </div>
    <form class="set-slider">
        <input type="range" min="0" max="45" name="slider" value="24">
    </form>
    <div class="set-cabinet">
        <div class="frame" style="--rotation: 24deg;">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="behind">
                <circle cx="28" cy="50" r="10"></circle>
                <text x="14" y="50">number</text>
                <circle cx="58" cy="50" r="10"></circle>
                <text x="54" y="50">string</text>
            </svg>
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="infront">
                <circle cx="28" cy="50" r="10"></circle>
                <text x="14" y="50">number</text>
            </svg>
        </div>
        <div class="frame" style="--rotation: 24deg;">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="behind">
                <circle cx="28" cy="50" r="10"></circle>
                <text x="14" y="50">number</text>
            </svg>
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="infront">
                <circle cx="28" cy="50" r="10"></circle>
                <text x="14" y="50">number</text>
                <circle cx="58" cy="50" r="10"></circle>
                <text x="54" y="50">string</text>
            </svg>
        </div>
    </div>
</div>
<script>
    for (const form of document.querySelectorAll("form.set-slider")) {
        const cabinet = form.nextElementSibling;
        form.addEventListener("input", (ev) => {
            for (const frame of cabinet.children) {
                frame.style.setProperty("--rotation", `${45 - parseInt(ev.target.value)}deg`);
            }
        });
    }
</script>