:root {
    font-family: "SF Pro Display", "SF Pro Icons", "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    --text-color: #1a1a1a;
    --background: #ffffff;
    --muted-background: rgb(239, 239, 239);
    --muted-background-opaque: rgba(239, 239, 239, 0.5);
    --accent: #5c3bb6;
    --muted-accent: #4e3399;
    --code-highlight: #bfb7e2;
}

@media screen {
    :root.dark {
        --text-color: #dbdbdb;
        --background: #0f0f10;
        --muted-background: #1f1f23;
        --muted-background-opaque: rgba(31, 31, 35, 0.5);
        --accent: #6ef7b2;
        --muted-accent: #62d7a0;
        --code-highlight: #274d42;
    }
}

:root:not(.dark) strong {
    font-weight: bold;
}

:root:not(.dark) *:is(h1, h2, h3, h4, h5, h6) {
    font-weight: 100;
}

:root.dark .shiki-light {
    display: none;
}

:root:not(.dark) .shiki-dark {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--background, white);
    color: var(--text-color, black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--muted-background-opaque, white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    padding: 14px;
}

header>div {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-weight: 100;
    font-size: 20px;
    color: var(--text-color);
}

header h1>a {
    color: var(--text-color) !important;
}

header .title {
    display: flex;
    align-items: center;
    gap: 8px;
}

header img {
    position: relative;
    top: -4px;
    height: 26px;
    width: auto;
}

@media print {
    header nav {
        display: none;
    }

    footer {
        display: none;
    }
}

header nav>ul {
    padding-left: 0;
    display: flex;
    list-style: none;
}

header nav>ul>li {
    margin-left: 10px;
    text-transform: lowercase;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Vollkorn', serif;
    scroll-margin: 100px;
}

*::selection {
    background: var(--muted-accent);
    color: var(--background);
}

em {
    position: relative;
    left: -2px;
}

ul {
    margin: 0px;
    padding-left: 20px;
}

hr {
    width: 100%;
    margin: 30px auto;
    border: none;
    border-top: 1px solid var(--text-color);
}

main {
    margin: 20px 0 80px;
}

.width-box {
    width: 95%;
    margin: 0 auto;
}

svg.icon {
    height: 10pt;
    fill: var(--muted-accent);
    position: relative;
    top: 2px;
}

a {
    color: var(--accent, white);
    text-decoration: none;
}

a:visited {
    color: var(--muted-accent, white);
}

pre code {
    white-space: break-spaces !important;
    overflow-x: hidden;
}

code,
pre {
    background-color: var(--muted-background) !important;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'JetBrains Mono', 'Fira Code light', consolas, monospace;
}

footer {
    margin-top: auto;
    background-color: var(--muted-background, white);
    padding: 22px;
}

footer>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    margin: 0;
    font-weight: inherit;
    font-size: 16px;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 4px;
    flex-direction: column;
    text-align: right;
}

footer>div>*:nth-child(2n) {
    margin-left: auto;
    font-size: 10pt;
}

@media screen and (max-width: 480px) {
    header>div {
        flex-direction: column;
    }

    body {
        width: 100vw;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 480px) {
    @supports (backdrop-filter: blur(20px)) {
        header {
            backdrop-filter: blur(20px);
        }
    }

    header {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }

    .width-box {
        width: 100%;
        max-width: min(80vw, 780px);
    }
}