:root {
    font-family: "SF Pro Display", "SF Pro Icons", "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;

    --text-color: #1a1a1a;
    --border: var(--text-color);
    --background: #F2F0EB;
    --muted-background: #f9f5f8;
    --muted-background-opaque: #f7f7f780;
    --accent: #bc3b3b;
    --muted-accent: #993b33;
    --code-highlight: #e2ccb7;
}

@media screen {
    :root.dark {
        --text-color: #dbdbdb;
        --background: #0f0f10;
        --muted-background: #1f1f23;
        --muted-background-opaque: #1f1f2380;
        --accent: #a8ff8e;
        --muted-accent: #81b47c;
        --code-highlight: #549463;
    }
}

:root.dark .shiki-light {
    display: none;
}

:root:not(.dark) .shiki-dark {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--background, white);
    color: var(--text-color, black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--muted-background-opaque, white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    padding: 14px;
}

:root:not(.dark) header {
    border-bottom: 2px solid var(--border);
}

header>div {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-weight: 100;
    font-size: 20px;
    color: var(--text-color);
}

header h1>a {
    color: var(--text-color) !important;
}

header .icon-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

header img {
    position: relative;
    top: -4px;
    height: 26px;
    width: auto;
}

@media print {
    header nav {
        display: none;
    }

    footer {
        display: none;
    }
}

header nav>ul {
    padding-left: 0;
    display: flex;
    list-style: none;
}

header nav>ul>li {
    margin-left: 10px;
    text-transform: lowercase;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    scroll-margin: 100px;
}

*::selection {
    background: var(--muted-accent);
    color: var(--background);
}

em {
    position: relative;
    left: -2px;
}

ul,
ol {
    margin: 0px;
    padding-left: 20px;
}

hr {
    width: 100%;
    margin: 30px auto;
    border: none;
    border-top: 1px solid var(--text-color);
}

main {
    margin: 20px 0 80px;
}

.width-box {
    width: 95%;
    margin: 0 auto;
}

svg.icon {
    height: 10pt;
    fill: var(--muted-accent);
    position: relative;
    top: 2px;
}

a {
    color: var(--accent, white);
    text-decoration: none;
}

a:visited {
    color: var(--muted-accent, white);
}

pre code {
    white-space: break-spaces !important;
    overflow-x: hidden;
    tab-size: 4;
}

:is(div, p, a, li)>code,
div>pre {
    border-radius: 4px;
    font-size: 15px;
}

pre,
code {
    background-color: var(--muted-background) !important;
    font-family: 'JetBrains Mono', 'Fira Code light', consolas, monospace;
}

footer {
    margin-top: auto;
    background-color: var(--muted-background, white);
    padding: 22px;
}

:root:not(.dark) footer {
    border-top: 2px solid var(--border);
}

footer>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    margin: 0;
    font-weight: inherit;
    font-size: 16px;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

footer nav ul>li:not(:first-child) {
    border-left: 2px solid var(--muted-accent);
    padding-left: 6px;
}

footer>div>*:nth-child(2n) {
    margin-left: auto;
    font-size: 10pt;
}

@media screen and (max-width: 480px) {
    header>div {
        flex-direction: column;
    }

    body {
        width: 100vw;
        box-sizing: border-box;
    }

    .posts>ul>li img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 480px) {
    @supports (backdrop-filter: blur(20px)) {
        header {
            backdrop-filter: blur(20px);
        }
    }

    header {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }

    .width-box {
        width: 100%;
        max-width: min(80vw, 780px);
    }
}