.posts {
    margin: 0 auto;
}

.posts h3 {
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
}

.posts>ul {
    display: grid;
    grid-auto-rows: min-content;
    list-style: none;
    padding-left: 0;
    gap: 12px;
}

.posts>ul>li {
    background-color: var(--muted-background);
    border-radius: 6px;
}

:root:not(.dark) .posts>ul>li {
    border: 2px solid var(--border);
}

.posts>ul>li>.post-image {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 200px;
    border-radius: 6px 6px 0 0;
}

:root:not(.dark) .posts>ul>li>.post-image {
    border-bottom: 2px solid var(--border);
}

.posts>ul>li>p,
.posts time,
.posts>ul>li h5 {
    margin: 8px;
}

.posts>ul>li img {
    width: 100%;
    height: auto;
}

.posts>ul>li h5 {
    font-weight: lighter;
    font-size: 20px;
}

.posts time {
    letter-spacing: .5px;
    display: block;
}

@media screen and (min-width: 780px) {
    .posts>ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .posts>ul>li p {
        font-size: 14px;
    }

    .posts>ul>li>.post-image {
        height: 120px;
    }

    .posts {
        max-width: min(80vw, 920px);
    }
}