.post {
    display: flex;
    flex-direction: column;
}

.post>p,
.post li,
.post blockquote {
    line-height: 1.6em;
    margin: 6px 0;
    font-weight: inherit;
    font-family: "Inter", "Helvetica", sans-serif;
}

.post>*:is(h1, h2, h3, h4, h5) {
    margin: 12pt 0;
}

.post img,
.post pre,
.post video,
.post inline-html {
    margin: 20px 0;
}

.post inline-html>svg {
    width: 100%;
    height: max-content;
}

.post img {
    border-radius: 6px;
}

.post svg.icon {
    height: 1em;
    fill: var(--text-color);
}

.post span.line.highlight {
    font-weight: bold;
    background-color: var(--code-highlight);
    outline: 4px var(--code-highlight) solid;
}

.post .shiki-container {
    margin: 20px;
}

.post .math {
    margin: auto;
}

.post .math>svg {
    width: auto;
    height: 200%;
    margin: 10px;
}

.post .quote {
    font-style: italic;
}

.post .quote::before {
    content: '"';
}

.post .quote::after {
    content: '"';
}

.post *[role="caption"] {
    font-size: 14px;
    margin: 6px 0 20px;
    padding: 6px;
    text-align: center;
    font-weight: normal;
    opacity: 0.8;
}

.post .date {
    margin-top: 0;
    font-size: 11pt;
    font-family: monospace;
}

.post .center {
    text-align: center;
    font-weight: inherit;
    padding: 30px;
}

.post .note {
    font-style: italic;
    font-size: 12pt;
    opacity: 0.8;
}

*:is(h1, h2, h3, h4, h5, h6)>code {
    font-size: 0.8em;
}

*:is(h1, h2, h3, h4, h5, h6, p, li)>code {
    padding: 2px 6px;
}

/* For footnotes */
.post a[href^="#foot"] {
    font-family: monospace;
    position: relative;
    top: -5px;
    left: 2px;
}

.post #footnotes~* {
    font-size: 14px;
    margin: 4px 0;
    width: 100%;
}

video.small {
    max-height: 300px;
}

.callout {
    margin-top: 18px;
    padding: 20px;
    font-size: 15pt;
    background-color: var(--muted-background);
    border-radius: 16px;
    border: 3px solid var(--muted-accent);
}

.post h1.title {
    font-size: 48px;
}

.post h1 {
    font-size: 32px;
}

.post h2 {
    font-size: 28px;
}

.post h3 {
    font-size: 24px;
}

.post h4 {
    font-size: 20px;
}

.post h5 {
    font-size: 16px;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5 {
    letter-spacing: 1px;
}

blockquote {
    border-left: 4px solid var(--muted-accent);
    margin: 10px 0;
    padding: 0px 10px;
}

blockquote>p {
    margin: 0;
}

.discussions {
    margin: 80px 0px;
}

@media screen and (max-width: 480px) {
    .center {
        text-align: center;
        font-weight: inherit;
        padding: 10px 0px;
    }

    .post>p,
    .post li {
        font-size: 12pt;
        line-height: 1.4em;
    }

    .post img,
    .post pre,
    .post video,
    .post inline-html {
        width: 100%;
        height: auto;
    }

    .post pre {
        font-size: 10px;
        overflow-x: scroll;
    }
}

@media screen and (min-width: 480px) {

    .post img,
    .post video,
    .post inline-html,
    .post pre:not(.shiki) {
        width: 110%;
        align-self: center;
        height: auto;
    }
}

@media print {
    .post video {
        display: none;
    }
}