.posts h3 {
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
}

.posts > ul {
    display: grid;
    grid-auto-rows: min-content;
    gap: 16px;
    list-style: none;
    padding-left: 0;
}

.posts > ul > li {
    background-color: var(--muted-background);
    padding: 12px;
    border-radius: 6px;
    display: grid;
}

.posts > ul > li > .post-image {
    overflow: hidden;
    max-height: 200px;
    border-radius: 6px;
    margin-bottom: 18px;
}

.posts > ul > li > p {
    margin: 6px 0 12px;
}

.posts > ul > li img {
    width: 100%;
    height: auto;
}

.posts > ul > li h5 {
    font-weight: lighter;
    font-size: 28px;
    margin: 0;
}

.posts .date {
    font-size: 12px;
    letter-spacing: .5px;
}